.App {
    text-align: center;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Qwitcher Grypen', cursive; */

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* new stuff  */

#header {
    border: solid black;
    border-width: 0 0 1px 0;
}

#header h1 {
    color: red;
    font-family: "Montserrat", sans-serif;
    margin: 10px;
}

#header h2 {
    color: black;
    font-family: "Qwitcher Grypen", cursive;
    margin: 10px;
    font-size: 2em;
}

.imgGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(430px, 1fr));
}

.imgDiv {
    border: solid red 1px;
    width: 400px;
}
.imagePreview {
    object-fit: cover;
    height: 400px;
    width: 400px;
}

.modalBg {
    position: absolute;
    background-color: rgba(128, 128, 128, 0.905);
    height: 100%;
    width: 100%;
}

.modalMain {
    background-color: purple;
    border-width: solid 1px black;
    margin: 20px;
}

.modalImg {
    height: ;
}
